html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #242A41;
    font-family: "Roboto", sans-serif;
}

svg {
    height: 100%;
    width: 100%;
}

#wrapper {
    display: flex;
    height: 100%;
}

#legend-container {
    flex: 1 0 20%;
    height: 100%;
    order: 1;
    display: flex;
    flex-direction: column;
}

#legend {
    height: 100%;
}
/*
#button-container {
    height: 25%;
}
*/
#chart {
    flex: 2 0 50%;
    height: 100%;
    order: 2
}
#panels {
    flex: 1 0 30%;
    height: 100%;
    order: 3;
    display: flex;
    flex-direction: column;

}
#panel1 {
    height: 90%
}

#panel2 {
    height: 10%
}

